{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nosotros</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/estilo_inicio.css'%}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/inicio/">Chaco-Trivia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/nosotros/">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div style="height: 830px; padding-top: 80px;">
            <img src="/static/imagen/quique.jpeg" style="height: 100px; width: 100px; border-radius: 50%;">
            <img src="/static/imagen/pert.jpeg" style="height: 100px; width: 100px; border-radius: 50%;">
            <img src="/static/imagen/renzo.jpeg" style="height: 100px; width: 100px; border-radius: 50%;">
            <img src="/static/imagen/tomi.jpeg" style="height: 100px; width: 100px; border-radius: 50%;">
            <img src="/static/imagen/christian.jpg" style="height: 100px; width: 100px; border-radius: 50%;">

        </div>

        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Chaco-Trivia</p></div>
        </footer>